<div class="question-wrapper mx-auto mt-5 p-2 bg-light clearfix rounded">
        <!-- <div class="alert alert-secondary w-75 mx-auto text-center" role="alert">Choose answer</div> -->

    <!-- Result of the question -->
    <% if(answerResult) { 
        if(answerResult === true) %>
            <div class="alert alert-success w-75 mx-auto text-center" role="alert">Correct answer</div>
        <% } else if(answerResult === false) { %>
            <div class="alert alert-danger w-75 mx-auto text-center" role="alert">Wrong answer</div>
    <% } %>       

    <!-- Question content -->
    <div class="question-container">
        <p>Câu <%= quesIndex+1 %>: <%= innerData.question %>?</p> 
        <form action="/play" method="GET" id="question-form">
            <input 
                type="text" 
                name="quesIndex"
                hidden 
                value=<%= quesIndex %>>
            <%  innerData.answers.forEach((answer, index) => { 
                if(index === parseInt(answerIndex)) {%>
                    <input 
                        type="radio" 
                        name="answerResult"
                        class="result-buttons"
                        id= <%= index %>
                        checked
                        value= <%= answer.isCorrect %>>
                        <%= answer.answer %>
                        <br/>
                <%} else {%> 
                    <input 
                        type="radio" 
                        name="answerResult"
                        class="result-buttons"
                        id= <%= index %>
                        value= <%= answer.isCorrect %>>
                        <%= answer.answer %>
                        <br/>
            <% }}) %>
            <input 
                type="text" 
                name="answerIndex"
                id="index-button"
                hidden>
            <input 
                type="text" 
                name="nextQues"
                id="nextQues-button"
                value= <%= quesIndex+1 %>
                hidden>
            <div class="u-mb-1"></div>
            <div class="float-right">
                <a href="/play?init=true" class="btn btn-danger">Initial</a>
            </div>            
            <div class="button-group">                                
                <% if(!answerResult) {%>                
                    <button class="button-submit btn btn-primary">Check</button>            
                <%} else {
                        if(quesIndex > 0) {%>
                            <a href="/play?back=true" class="btn btn-warning">Back</a>
                        <% } %>
                        <a href="/play?next=true" class="btn btn-warning">Next</a>      
                    <% } %>                
            </div>               
        </form>        
    </div>
</div>